<!-- About Section -->
<section class="success" id="author">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Call For Participation 征求参与</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-4 col-lg-offset-2"> -->
      <div>
        <!-- <p>The Author section.</p> -->
        <span class="skills">
        <p  class="text-black-faded text-left">本次研讨会旨在探讨在个性化训练中使用 大语言模型 和物联网等新兴技术与自闭症儿童进行创意互动设计的益处、挑战和未来方向。 
          通过现场演讲、演示和小组讨论，与会者将有机会交流相关经验和见解。
          欢迎提交与应用大语言模型和物联网新兴技术融入自闭症儿童进行互动设计的个性化训练或相关领域的立场论文（Position Papers）、工作进展报告（Work-in-progress Reports）或演示论文（Demonstration Papers）用于在研讨会上进行简短介绍或演示。
           <br><br>具体而言，研讨会期待:</p>
        <ul>
          <li>讨论相关研究问题、机遇、益处或挑战的立场论文（2-4 页）</li>
          <li>工作进展报告（2-4 页），重点介绍当前的研究工作</li>
          <li>演示论文（1 页），演示当下正在使用、开发或处于测试阶段前沿系统</li>
        </ul>

        <br><br>
        <p>推荐的主题包括（但不局限于）：</p>
        <ul>
          <li>针对特殊教育的优化和个性化培训</li>
          <li>用于特殊教育的人工智能、物联网和/或智能传感器</li>
          <li>用于特殊教育的大型语言模型 (LLM) 和/或大型视觉模型 (LVM)</li>
          <li>针对特殊教育的基于技术干预（TBI）</li>
          <li>与儿童互动的设计</li>
          <li>针对特殊教育或医疗健康的新兴应用</li>
        </ul>
        <br><br>
        <p>被录用的作者将受邀在专门的演讲或演示环节中展示。</p>
        <br><br>

        <p>文档提交格式: <a href="https://ubicomp.org/ubicomp-iswc-2024/authors/formatting/" target="_blank" style="background-color:rgb(252, 255, 255);">UbiComp/ISWC 2024 Proceedings Formats </a>   </p>

      
    
      </span>
      </div>
      <!-- <div class="col-lg-4">
        <p>[TEST DELETED AFTER FINALIZED]Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
