<!-- About Section -->
<section  id="date">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Important Dates 重要日期</h2>
        <!-- <h2>Program</h2> -->
        <!-- <hr class="star-light"> -->
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-4 col-lg-offset-2"> -->
      <div>
        <!-- <p>The date section.</p> -->
        <p>
          <ul>
            <li>提交截止日期： 2024 年 6 月 30 日（AoE）</li>
            <li>录用通知：2024 年 7 月 10 日（AoE）</li>
            <li>终稿截止日期：2024 年 7 月 26 日（AoE）</li>
            <!-- <li>Submission website:	     (TBA. Will use UbiComp official PCS )</li> -->
            <li>提交网站:	     (通过  <a href="https://new.precisionconference.com/" target="_blank">PCS </a>提交。 UbiComp/ISWC 2024 -> Track: UbiComp/ISWC 2024 Workshop on Design with Autistic Children。 )</li>

            
           


          </ul>
        </p>
      </div>
      <!-- <div class="col-lg-4">
        <p>[TEST DELETED AFTER FINALIZED]Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
