<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>关于</h2>
        <hr class="star-primary">
      </div>
    </div>
    <!-- <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
      </div>
      {% endfor %}
    </div> -->
    <div class="row">
      <!-- <div class="col-lg-4 col-lg-offset-2"> -->
      <div>
        <span class="skills">
        <p>近来，随着大语言模型（LLM），大视觉模型（LVM）等生成式新型人工智能技术（Generative AI）兴起，相关技术在学术和产业领域的应用呈现出较为可观的展望并逐步在相关领域开始普适性使用。然而，生成式人工智能在针对自闭症谱系障碍（ASD）人群尤其是自闭症儿童的相关应用及研究仍旧相对匮乏。
          <br><br>
          同时，当下针对具有特殊需求的儿童进行互动设计的主流个性化训练仍面临相关潜在挑战。
          <strong> 基于上述因素驱动，本研讨会的目标是为相关研究人员，软件和医疗从业人员以及设计师提供一个协作平台来一同分享和探讨应用大语言模型（LLM）和物联网（IoT）用于自闭症儿童针对及个性化训练的优劣及挑战等。</strong> 
          <br><br>
          我们希望通过在为期半天的研讨会上举办现场报告、演示和小组讨论等多种活动，借此机会建立一个专家网络，致力于为有特殊需要的儿童受众受益，并进一步启发研究人员利用新兴的普适技术为这些弱势用户、照护者和特殊教育教师服务。</p>
        </span>
      
        </div>
      <!-- <div class="col-lg-4">
        <p>[TEST DELETED AFTER FINALIZED]Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>


  </div>
</section>
